<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pusher Test</title>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://js.pusherapp.com/1.10/pusher.min.js"></script>
    <script type="text/javascript">
      // Enable pusher logging - don't include this in production
      // check Log_in AND get_userID
      
     $(document).ready(function(){
        var channel_name = $("#hostname").val();
        var pusher = new Pusher('c87201b48ba8607c7298');  //initialize Pusher using app-key
        var channel = pusher.subscribe(channel_name);

        channel.bind('msg', function(data) {
          $("#chat_window").append("<div>"+data.message+"</div>");
         });


      $("#sendMsg").click(function() {
        var input = $("#chat_input").val();
         $.get("/sendMsg",{
            input:input
            },
            function(data){
            });
        });
  
     $("#out").click(function(){
         $.get("/chatOut",{
            },
            function(data){
              pusher.disconnect();
              setTimeout(function(){ location.href = "/dashBoard";}, 1000);
             
            });
        });
      });

    </script>
  </head>

  <body>
    <h1>chat_test</h1>
      <input type = "hidden" id = "hostname" value = "{{host}}"></input>
      <div id = "chat_window"></div>
      <!--입력 input-->
      <input type="text" id = "chat_input"></input>
      <button id="sendMsg">보내기</button>
      <button id="out">방나가기</button>
  </body>
</html>
