<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pusher Test</title>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://js.pusherapp.com/1.10/pusher.min.js"></script>
    <script type="text/javascript">

      // Enable pusher logging - don't include this in production
      // check Log_in AND get_userID
      
     $(document).ready(function(){
        var channel_name = $("#hostname").val();
        var pusher = new Pusher('c87201b48ba8607c7298');  //initialize Pusher using app-key
        var channel = pusher.subscribe(channel_name);

        channel.bind('msg', function(data) {
          $("#chat_window").append("<div>"+data.message+"</div>");
         });


      $("#sendMsg").click(function() {
        var input = $("#chat_input").val();
         $.get("/sendMsg",{
            input:input
            },
            function(data){
            });
        });
  
     $("#out").click(function(){
         $.get("/chatOut",{
            },
            function(data){
              pusher.disconnect();
              setTimeout(function(){ location.href = "/dashBoard";}, 1000);
             
            });
        });
      });

    </script>

    <style>
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin-bottom: 60px;
    }

    .container {
      width: auto;
      max-width: 500px;
      padding: 0 15px;
    }
    .container .text-muted {
      margin: 20px 0;
    }

    </style>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <h1>Chat_Test 
      <button class="btn btn-default" type="button" id="out">Out</button></h1>
      <input type = "hidden" id = "hostname" value = "{{host}}"></input>
      <div class="alert alert-info" id = "chat_window"></div>
      <div class="input-group">
        <input type="text" class="form-control" id = "chat_input">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="sendMsg">Send</button>
        </span>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script
  </body>
</html>
